makeponto/config
appfrontend/makepontoapp/node_modules
backend/src/main/resources/application-dev.properties
backend/src/main/resources/application-prod.properties
backend/src/main/resources/application-test.properties
backend/src/main/resources/application.properties

